@page
@model Final.Pages.Posts.DeleteFavoriteModel

@{
    ViewData["Title"] = "DeleteFavorite";
}

<h1>Unfavorite</h1>

<h3>Are you sure you want to unfavorite?</h3>
<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite.FavoriteName)
        </dt>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Post.PostID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="Favorites">Back to Favorites</a>
    </form>
</div>
