@page
@model FavoritesModel

@{
    ViewData["Title"] = "Favorites";
}

<h1>CraigList</h1>
<h2>Your Favorites</h2>
<p>
    <a asp-page="Index">Home</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Favorite List Name: @Html.DisplayNameFor(model => model.Favorites[0].FavoriteName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Favorites[0].Posts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>

                <a asp-page="./Details" asp-route-id="@item.PostID">Details</a> |
                <a asp-page="DeleteFavorite" asp-route-id="@item.PostID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
